@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.movable-rocket {
  transition: top 0.5s linear, left 0.5s linear;
}
